{% extends 'base.html.twig' %}

{% block body %}

    <!-- N A V B A R -->
    <section id="navbar">
        <div class="bg-navbar"></div>
        <a href="{{ path('app_home') }}">
            <img src="/assets/image/logo-sahara.png" class="logo" alt="Logo Sahara">
        </a>
        <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <button class="navbar-toggler" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#navbarNav" 
                aria-controls="navbarNav" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
                <i class="fa-solid fa-bars" style="color: white; font-size: 1.5rem;"></i>
            </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_circuit') }}">Nos circuits privées</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_excursion') }}">Nos excursions privées</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_qui_sommes_nous') }}">Qui sommes-nous ?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('app_contact') }}">Contacts</a>
                        </li>
                    </ul>
                    <div class="d-flex align-items-center">
                        <img src="/assets/image/icone-facebook.png" class="icone-facebook ms-3" alt="Icône Facebook">
                        <img src="/assets/image/icone-insta.png" class="icone-instagram ms-3" alt="Icône Instagram">
                    </div>
                </div>
            </div>
        </nav>
    </section>
    <!-- N A V B A R -->
    
    <!-- P I C T U R E - H E A D E R -->
    <section id="picture-header">
        <picture>
            <source srcset="/assets/image/picture-1-phone.jpg" media="(max-width: 768px)">
            <img src="/assets/image/picture-header-contact.jpg" class="picture" alt="...">
        </picture>
        <div class="text-container">
            <div class="top-line">
                <p class="p-header">Une question</p>
                <img src="/assets/image/icone-logo.png" class="icone-logo" alt="...">
            </div>
            <h1 class="h-header">CONTACTEZ-NOUS</h1>
        </div>
    </section>
    <!-- P I C T U R E - H E A D E R -->

    <!-- C O M M E N T - C O N T A C T -->
    <section id="comments-contact" class="row">
        <div class="bg-comment col-12 col-md-4">
            <img src="/assets/image/icone-phone.png" class="icone-comment-1 ms-3" alt="Icône Instagram">            
            <h1 class="t-comment">Par Téléphone :</h1>
            <p class="p-comment col-8">Vous pouvez nous appeler du lundi au vendredi, de 9h à 17h, pour toute information. Notre équipe est à votre écoute et prête à répondre à vos questions. </p>
            <h1 class="t-info">{{ contact.telephone }}</h1>
        </div>
        <div class="bg-comment col-12 col-md-4">
            <img src="/assets/image/icone-mail.png" class="icone-comment-2 ms-3" alt="Icône Instagram">            
            <h1 class="t-comment">Par e-mail :</h1>
            <p class="p-comment col-8">Vous pouvez nous contacter par e-mail à tout moment, selon vos besoins. Nous vous répondrons dans les plus brefs délais avec plaisir. </p>
            <h1 class="t-info">{{ contact.messagerie }}</h1>
        </div>
        <div class="bg-comment col-12 col-md-4">
            <img src="/assets/image/icone-phone.png" class="icone-comment-3 ms-3" alt="Icône Instagram">            
            <h1 class="t-comment">Par Téléphone Marocain :</h1>
            <p class="p-comment col-8">Vous pouvez nous contacter par e-mail à tout moment, selon vos besoins. Nous vous répondrons dans les plus brefs délais avec plaisir.</p>
            <h1 class="t-info">{{ contact.telephoneMarocain }}</h1>
        </div>
    </section>
    <!-- C O M M E N T - C O N T A C T -->

    <!-- A R T I C L E - R I G H T -->
    <section id="article-right" class="row">
        <div class="bg-article order-2 order-md-1 col-4">
            <h1 class="t-article">{{ article7.titre}}</h1>
            <p class="p-article col-10">{{ article7.description}}</p>
            <h1 class="t-info">{{ contact.adresse }}</h1>
            <h1 class="t-info">{{ contact.ville }}</h1>
            <h1 class="t-info">{{ contact.pays }}</h1>
        </div>
       <img src="{{ asset('assets/image/' ~ article7.photo) }}" class="picture-article order-1 order-md-2 col-8" alt="...">
        <img src="/assets/image/icone-4x4.png" class="icone-comment order-3" alt="...">
        </div>
    </section>
    <!-- A R T I C L E - R I G H T -->

    <!-- C O M M E N T - F O O T E R -->
    {% include '_partials/comments-footer.html.twig' with { 'commentaires': commentaires } %}
    <!-- C O M M E N T - F O O T E R -->

    <!-- P I C T U R E - F O O T E R -->
    <section id="picture-footer">
        <picture>
            <source srcset="/assets/image/picture-1-phone.jpg" media="(max-width: 768px)">
            <img src="/assets/image/picture-footer.jpg" class="picture" alt="...">
        </picture>
    </section>
    <!-- P I C T U R E - F O O T E R -->

    <!-- F O O T E R -->
    {% include '_partials/footer.html.twig' %}
    <!-- F O O T E R -->

{% endblock %}