{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}

    <!-- N A V B A R -->
    <section id="navbar">
        <div class="bg-navbar"></div>
        <a href="{{ path('app_home') }}">
            <img src="/assets/image/logo-sahara.png" class="logo" alt="Logo Sahara">
        </a>
        <nav class="navbar navbar-expand-md">
        <div class="container-fluid">
            <button class="navbar-toggler" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#navbarNav" 
                aria-controls="navbarNav" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
                <i class="fa-solid fa-bars" style="color: white; font-size: 1.5rem;"></i>
            </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ path('app_circuit') }}">Nos circuits privées</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_excursion') }}">Nos excursions privées</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_qui_sommes_nous') }}">Qui sommes-nous ?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_contact') }}">Contacts</a>
                        </li>
                    </ul>
                    <div class="d-flex align-items-center">
                        <img src="/assets/image/icone-facebook.png" class="icone-facebook ms-3" alt="Icône Facebook">
                        <img src="/assets/image/icone-insta.png" class="icone-instagram ms-3" alt="Icône Instagram">
                    </div>
                </div>
            </div>
        </nav>
    </section>
    <!-- N A V B A R -->

    <!-- P I C T U R E - H E A D E R -->
    <section id="picture-header">
        <picture>
            <source srcset="/assets/image/picture-1-phone.jpg" media="(max-width: 768px)">
            <img src="{{ asset('assets/image/' ~ circuit.photoHeader) }}" class="picture" alt="...">
        </picture>
        <div class="text-container">
            <div class="top-line">
                <p class="p-header">Nôtre circuit privé</p>
                <img src="/assets/image/icone-logo.png" class="icone-logo" alt="...">
            </div>
            <h1 class="h-header">{{ circuit.titreCards}}</h1> 
        </div>
    </section>
    <!-- P I C T U R E - H E A D E R -->

    <!-- I N F O -->
    <section id="article-info">
        <div class="row col-10 mx-auto mt-md-1">
            <div class="containt-info">
                <img src="/assets/image/icone-start.png" class="icone-info" alt="...">
                <p class="p-info">Départ :</p>
                <p class="p-details">{{ circuit.villeDepart }}</p>
            </div>
            <div class="containt-info">
                <img src="/assets/image/icone-location.png" class="icone-info" alt="...">
                <p class="p-info">Arrivée :</p>
                <p class="p-details">{{ circuit.villeArrivee }}</p> 
            </div>
            <div class="containt-info">
                <img src="/assets/image/icone-group.png" class="icone-info" alt="...">
                <p class="p-info">Personnes :</p>
                <p class="p-details">{{ circuit.nombrePersonnes }}</p> 
            </div>
            <div class="containt-info">
                <img src="/assets/image/icone-clock.png" class="icone-info" alt="...">
                <p class="p-info">Durée :</p>
                <p class="p-details">{{ circuit.duree }}</p> 
            </div>
            <div class="containt-info">
                <img src="/assets/image/icone-bed.png" class="icone-info" alt="...">
                <p class="p-info">Nuit :</p>
                <p class="p-details">{{ circuit.hebergement }}</p>
            </div>
            <div class="containt-info">
                <img src="/assets/image/icone-food.png" class="icone-info" alt="...">
                <p class="p-info">Repas :</p>
                <p class="p-details">{{ circuit.repas }}</p> 
            </div>
            <div class="containt-info">
                <img src="/assets/image/icone-price.png" class="icone-info" alt="...">
                <p class="p-info">A partir :</p>
                <p class="p-details">{{ circuit.prix }} €/pers.</p> 
            </div>
        </div>
    </section>
    <!-- I N F O -->

    <!-- A R T I C L E - L E F T -->
    <section id="article-left" class="row">
        <img src="{{ asset('assets/image/' ~ circuit.photoJour1) }}" class="picture-article" alt="...">
        <img src="/assets/image/icone-palmier.png" class="icone-comment" alt="...">
        <div class="bg-article">
            <h1 class="t-article">{{ circuit.titreJour1 }}</h1> 
            <p class="p-article">{{ circuit.texteJour1 }}</p> 
        </div>
    </section>
    <!-- A R T I C L E - L E F T -->

    <!-- A R T I C L E - R I G H T -->
    <section id="article-right" class="row">
        <div class="bg-article order-2 order-md-1 col-4">
            <h1 class="t-article">{{ circuit.titreJour2 }}</h1> 
            <p class="p-article col-10">{{ circuit.texteJour2 }}</p> 
        </div>
        <img src="{{ asset('assets/image/' ~ circuit.photoJour2) }}" class="picture-article order-1 order-md-2 col-8" alt="...">
        <img src="/assets/image/icone-4x4.png" class="icone-comment order-3" alt="...">
    </section>
    <!-- A R T I C L E - R I G H T -->

    <!-- A R T I C L E - L E F T -->
    <section id="article-left" class="row">
        <img src="{{ asset('assets/image/' ~ circuit.photoJour3) }}" class="picture-article" alt="...">
        <img src="/assets/image/icone-palmier.png" class="icone-comment" alt="...">
        <div class="bg-article">
            <h1 class="t-article">{{ circuit.titreJour3 }}</h1>
            <p class="p-article">{{ circuit.texteJour3 }}</p> 
        </div>
    </section>
    <!-- A R T I C L E - L E F T -->

    <!-- A R T I C L E - C O N T A C T -->
    <section id="article-contact" class="row">
        <div class="bg-article order-2 order-md-1">
            <div class="contact-phone">
                <img src="/assets/image/icone-phone.png" class="icone-info" alt="...">
                <h1 class="t-article">Téléphone :</h1>
                <p class="p-article">Vous pouvez nous appeler du lundi au vendredi, de 9h à 17h, pour toute information. Notre équipe est à votre écoute et prête à répondre à vos questions.</p>
                <p class="contact-info">{{ contact.telephone }}</p>
            </div>
            <div class="contact-mail">
                <img src="/assets/image/icone-mail.png" class="icone-info" alt="...">
                <h1 class="t-article">Adresse e-mail</h1>
                <p class="p-article">Vous pouvez nous contacter par e-mail à tout moment, selon vos besoins. Nous vous répondrons dans les plus brefs délais avec plaisir.</p>
                <p class="contact-info">{{ contact.messagerie }}</p> 
            </div>
        </div>
        <img src="/assets/image/picture-contact.jpg" class="picture-article order-1 order-md-2" alt="...">
    </section>
    <!-- A R T I C L E - C O N T A C T -->

    <!-- C O M M E N T - F O O T E R -->
    {% include '_partials/comments-footer.html.twig' with { 'commentaires': commentaires } %}
    <!-- C O M M E N T - F O O T E R -->

    <!-- P I C T U R E - F O O T E R -->
    <section id="picture-footer">
        <picture>
            <source srcset="/assets/image/picture-1-phone.jpg" media="(max-width: 768px)">
            <img src="/assets/image/picture-footer.jpg" class="picture" alt="...">
        </picture>
    </section>
    <!-- P I C T U R E - F O O T E R -->

    <!-- F O O T E R -->
    {% include '_partials/footer.html.twig' %}
    <!-- F O O T E R -->

{% endblock %}
